body {

    color: #aba2a2;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #050505;
        color: #eef5ee;
    }
}

#heading{
    color:#aba2a2;
}

#searchbox{
    float:right;
    margin-right:inherit;
}
